ul,li,div,h2 {margin:0;padding:0;}
ul,li{list-style:none;}
a{text-decoration: none;color:black;}

.main_image h2{
    position:absolute; left:-9999px;top:-9999px;
}
.mask img {
    width: 800px;
}
.mask li {
    float: left;
}
.mask ul {
    width: 2400px;
}
.mask {width: 800px;overflow: hidden;margin: auto;}

.pager{text-align: center;}

.pager a{font-size:30px;margin: 0 10px;}
.pager a:hover{color: rgb(0, 140, 255);}